/* Footer Main */
.footer {
    background-color: #000;
    color: #fff;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;  
    align-items: baseline;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer .footer-location h2, .footer-contact h2, 
  .footer-links h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: orange;
  }
  
  .footer-section p, a {
    font-size: 16px;
    line-height: 1.7;
  }
  
  /* Footer Location Section */
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 10px;
  }
  
  
  .footer-links ul a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links ul a:hover {
    color: orange;
  }
  
  /* Footer Bottom */
  .footer-bottom {
    background-color: #064789;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 0;
  }